<div class="product__form">
  <div class="top__container">
    <h2>Add New Product</h2>
    <a href="/adminpage">
    <i  class="pi pi-times"></i>
    </a>
  </div>
  <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Product Name</label>
      <input type="text" placeholder="Enter the name of your products" [formControlName]="'title'" />
    </div>
    <div>
      <label>Price</label>
      <input type="text" placeholder="Enter the price" [formControlName]="'price'" />
    </div>
    <div>
      <label>Thumbnail</label>
      <input type="text" placeholder="Enter the url of yor product" [formControlName]="'thumbnail'" />
    </div>
    <div>
      <label>Product Quantity</label>
      <input type="text" placeholder="Enter the quantity to be added" [formControlName]="'productQuantity'" />
    </div>
    <button type="submit" [disabled]="newProductForm.invalid">
      Add Product
    </button>
  </form>
</div>
