<div class="product__form" *ngIf="updateForm">
  <div class="top__container">
    <h2>Add New Product</h2>
    <a href="/adminpage">
    <i  class="pi pi-times"></i>
    </a>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Product Name</label>
      <input type="text" [formControlName]="'title'" />
    </div>
    <div>
      <label>Price</label>
      <input type="text" [formControlName]="'price'" />
    </div>
    <div>
      <label>Thumbnail</label>
      <input type="text" [formControlName]="'thumbnail'" />
    </div>
    <div>
      <label>Product Quantity</label>
      <input type="text" [formControlName]="'productQuantity'" />
    </div>
    <button type="submit" [disabled]="updateForm.invalid">
      Update Product
    </button>
  </form>
</div>
